<div class="container">
  <div class="row">
    <div class="col s1 hidden-element"><h1></h1></div>
    <div class="col s6">
      <img class="task-user-image" src="http://cdn.okccdn.com/php/load_okc_image.php/images/0x0/0x0/0/3133668790142149848.jpeg___1_500_1_500_cb94de6a_.png"/>
    </div>
    <div class="col s10 hidden-element"><h1></h1></div>
  <div class="row">
    <div class="col s6">
      <h5 class="center-align"><%= @task.description %></h5>
    </div>
    <div class="col s6">
      <div class="col s4" style="text-align:center">
        <i class="material-icons large">tune</i>
        <p class="task-triple-icons"><%= @task.difficulty %></p>
      </div>
      <div class="col s4" style="text-align:center">
        <i class="material-icons large">access_alarms</i>
        <p class="task-triple-icons"><%= @task.estimated_duration %> min</p>
      </div>
      <div class="col s4" style="text-align:center">
        <i class="material-icons large">adb</i>
        <p class="task-triple-icons">$<%= @task.compensation %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6 hidden-element"><h1></h1></div>
    <div class="col s6 center-align">
      <div class="need-me-btn"><a class="waves-effect waves-light btn-large btn-flat"><i class="material-icons right directions_run">directions_run</i>Need me?</a></div>
    </div>
  </div>
  <div class="row">
    <div class="col s6 hidden-element"><h1></h1></div>
    <div class="col s6 center-align">
      <img class="task-map-image" src ="http://mike.teczno.com/img/google-maps-track.png"/>
    </div>
  </div>
</div>  