<div class="show-form-background">
  <div class="center-transparent col s4">
    <%= render "create_form" %>
  </div>
</div>



<script>
$(body).on('click', '.show-form-background', function({
  // add class with transparent BG color.
  // set div to fit screen(responive)
}));
// add class to center-transparent div to display on click of nav-bar (body for now), hide before.
// add slideDown/Up ??  Translate across?  Toggle tab out from navbar?
</script>