<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
            html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
    </style>
  </head>
  <body>
    <div id="floating-panel">
      <input id="address" type="textbox" value="Vancouver, BC">
      <input id="submit" type="button" value="Geocode">
    </div>
    <div id="map"></div>
    <script type="text/javascript">

// var that sets location
var myLatLng = {lat: 49.264, lng: -123.168};
var info;
var map;

function initMap() {

  map = new google.maps.Map(document.getElementById('map'), {
    center: myLatLng,
    zoom: 10
  });
  // content to show in marker on click
  //this will be filled with task description etc.
  var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h1 id="firstHeading" class="firstHeading">Task</h1>'+
      '<div id="bodyContent">'+
      '<p>This is a task, click to see it!</p>'+
      '</div>'+
      '</div>';

  // the actual info window that shows on click
  info = new google.maps.InfoWindow({
    content: contentString
  });

  var marker = new google.maps.Marker({
    // position: myLatLng,
    animation: google.maps.Animation.DROP,
    map: map,
    title: 'Need this?'
  });
  marker.addListener('click', function() {
    info.open(map, marker);
  });

  // adds circle radius around marker
  var circle = new google.maps.Circle({
  map: map,
  radius: 1609,    // 10 miles in metres
  fillColor: '#AA0000'
  });
  circle.bindTo('center', marker, 'position');

  var infoWindow = new google.maps.InfoWindow({map: map});

  //geolocation: shows current location or error saying it did not work
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      var youAreHere = new google.maps.Marker({
        position: pos,
        animation: google.maps.Animation.DROP,
        map: map,
        title: 'You Are Here'
      });

      infoWindow.setPosition(pos);
      infoWindow.setContent('Location found.');
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  }
    var geocoder = new google.maps.Geocoder();

  // document.getElementById('submit').addEventListener('click', function() {
  //   geocodeAddress(geocoder, map);
  // });

  document.getElementById('submit').addEventListener('click', function() {
    gon.tasks.forEach(function(task) {
      address = task.location;
      geocodeAddress(geocoder, map, address);
    });
  });

}


//geocode to search by address rather that coordiantes
function geocodeAddress(geocoder, resultsMap, address) {
  // var address will be set to whatever the address of the task is (task.address)
  // will then to make the result of the search a location of a marker
  var address = address;
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      resultsMap.setCenter(results[0].geometry.location);
      // marker of result
      marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location,
        animation: google.maps.Animation.DROP,
        title: 'Need this?'
      });
      marker.addListener('click', function() {
        info.open(map, this);
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });

}
// this handels if geolocation does not work
function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
    'Error: The Geolocation service failed.' :
    'Error: Your browser doesn\'t support geolocation.');
}

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZQ0u0B58kHdvch8UmNPY6jMM3L4n9fJc&callback=initMap">
    </script>
  </body>
</html>