body {
  height: 100%;
  min-height: 100%;
  background-color: #fff9c4;
}

main {
  background-color: #fff9c4;
  margin-left: 15%;
  height: 100%;
  min-height: 100%;
}

.waves-effect.waves-light.btn-large {
  background-color: #9ccc65 ;
}

.side-nav.fixed {
  background-color: #81d4fa;
}

li.bold {
  margin-bottom: 2%;
}

.hide-form {
  display: none;
}

.hide-form .show-form {
  display: inline-block;
}

.overlay {
    display:none;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity = 50); /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

img#needy-logo {
  width: 70%;
  margin-top: 10%;
  margin-left: 14%;
  border-radius: 50%;
  -moz-box-shadow: 1px 0px 75px #9ccc65;
  -webkit-box-shadow: 1px 0px 75px #9ccc65;
  box-shadow: 1px 0px 75px #9ccc65;
}

.nav-button {
  width:80%;
  margin-left: 8%;
}

.hidden-element {
  visibility: hidden;
}

.task-user-image {
  border-radius: 50%;
}

.task-map-image {
  border-radius: 1%;
  height: 75%;
  width: 75%;
}

.task-triple-icons {
  font-size: 1.5rem;
  font-weight: 600;
}

.top-content {
  margin-top: 5%;
}

.center-transparent {
  border: solid;
  width: 40%;
  margin: 0 auto;
  background-color: rgba(84, 210, 137, 0.4);
  -moz-box-shadow: 13px 21px 50px #000000;
  -webkit-box-shadow: 13px 21px 50px #000000;
  box-shadow: 13px 21px 50px #000000;
  border-color: rgba(26, 187, 99, 1);
  border-radius: 20px;
}

.error-field {
  padding-left: 10px;
  color: red;
}

footer {
  margin-left: 15%;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #fff9c4;
}

/*.background-show-page {
  background-color: rgba(84, 210, 137, 0.4);
  -moz-box-shadow: 13px 21px 50px #000000;
  -webkit-box-shadow: 13px 21px 50px #000000;
  box-shadow: 13px 21px 50px #000000;
  border-color: rgba(26, 187, 99, 1);
  border-radius: 20px;
}*/

.profile-image {
  display: inline-block;
  margin-left: 32%;
  border-radius: 50%;
  border: solid;
  border-color: #81d4fa;
  -moz-box-shadow: 10px 14px 29px #121214;
  -webkit-box-shadow: 10px 14px 29px #121214;
  box-shadow: 10px 14px 29px #121214;
}

.name {
  margin-left: 12%;
}

.show-label {
  color: #81d4fa;
  display: inline-block;
  padding-right: 10px;
}

.task-icons {
  text-align: center;
  color: grey;
}

.timer {
  font-size: 65px;
  color: black;
}

.task-timer {
  display: none;
}

#time {
  font-size: 65px;
}

nav {
  -moz-box-shadow: 0px 0px 0px #000000;
  -webkit-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
}


/*END STEVEN CSS*/