/*Ivan's CSS*/
body {
  background-color: #fff9c4;
}

.waves-effect.waves-light.btn-large {
  background-color: #9ccc65 ;
}

.side-nav.fixed {
  background-color: #81d4fa;
}

li.bold {
  margin-bottom: 2%;
}

img#needy-logo {

  margin-top: 45px;
  height: 127px;
  width: 170px;
  border-radius: 50%;
  -moz-box-shadow: 1px 0px 75px #9ccc65;
  -webkit-box-shadow: 1px 0px 75px #9ccc65;
  box-shadow: 1px 0px 75px #9ccc65;
}

.hidden-element {
  visibility: hidden;
}

.task-user-image {
  border-radius: 50%;
}

.task-map-image {
  border-radius: 1%;
  height: 75%;
  width: 75%;
}

.need-me-btn {
  margin-top: -15%;
}

/*END (Ivan's CSS)*/


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.center-transparent {
  border: solid;
  width: 40%;
  margin: 0 auto;
  background-color: rgba(84, 210, 137, 0.4);
  -moz-box-shadow: 13px 21px 50px #000000;
  -webkit-box-shadow: 13px 21px 50px #000000;
  box-shadow: 13px 21px 50px #000000;
  border-color: rgba(26, 187, 99, 1);
  border-radius: 20px;
}

.error-field {
  padding-left: 10px;
  color: red;
}