html, body {
  height: 100%;
  min-height: 100%;
  background: url("van_city.jpg") no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: 100% 100%; 
  /*color: rgba(18, 231, 48, 1); */
  color:white;
}


/*CARD INDEX STYLING OVERRIDES DEFSUL MATERIALIZE*/
.map-container {
  min-height: 0% !important;
}

.card-content {
  color: black;
  max-height: 50%;
}

.card-content span a {
  font-size: .8em;
  line-height: 23px;
}

.card-image {
  min-height: 50%;
  overflow: hidden;
  max-height: 50% !important;
}

.card.blue-grey.darken-1 {
  color: white;
}

.chip.review-tag-spacer {
  margin-bottom: 0.5%;
}

.card.small {
  height: 250px !important;
}

.card-task-user {
  color: black;
  position: absolute;
  bottom: 41%;
  font-size: .7em;
}
/*END CARD STYLING*/

label {
  padding: 10px;
}

.hide-form.reviews-modal {
  z-index: 5;
  position: absolute;
}

main {
  margin-left: 15%;
  height: 100%;
  min-height: 100%;
}

.waves-effect.waves-light.btn-large {
  background-color: #9ccc65 ;
}

.side-nav.fixed {
  background-color: rgba(0, 0, 0, 0);
}

li.bold {
  margin-bottom: 2%;
}

.hide-form {
  display: none;
}

.hide-form .show-form {
  display: inline-block;
}

body.overlay {
    display:none;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity = 50); /* IE7 & 8*/ 
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

#needy-logo {
  width: 100%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 50%;
    height: 100%;
    padding-bottom: 20%;
}

.logo {
  margin-bottom: 12%;
  border-radius: 50%;
  margin-left: 10%;
  margin-top: 10%;
  width: 80%;
  height: 20%;
  -moz-box-shadow: 4px 4px 19px #000000;
  -webkit-box-shadow: 4px 4px 19px #000000;
  box-shadow: 4px 4px 19px #000000;
  background: -webkit-gradient(linear, 34% 38%, 1% -5%, from(#0089EC), to(#FFFFF1));
  background: -moz-linear-gradient(34% 38%, 1% -5%, from(#0089EC), to(#FFFFF1));
  /*border: solid 3px #0089EC;*/
}

.nav-button {
  width:80%;
  margin-left: 8%;
}

.waves-effect.waves-light.btn-large.nav-button {
  background-color: #4caf50;
}

/* the hiding of elements on the task show page

.hidden-element {
  visibility: hidden;
}

.dom-removed-element .show-review-form {
  display: "";

}

.dom-removed-element {
  display: none;
}
/**/


.task-user-image {
  border-radius: 20%;
  width: 96%;
  
}

.task-map-image {
  border-radius: 1%;
  height: 75%;
  width: 75%;
}

.task-triple-icons {
  font-size: 1.5rem;
  font-weight: 600;
}

.top-content {
  margin-top: 5%;
}

.center-transparent {
  border: solid;
  width: 40%;
  margin: 0 auto;
  background-color: rgba(23, 21, 22, 0.6);
  -moz-box-shadow: 13px 21px 50px #000000;
  -webkit-box-shadow: 13px 21px 50px #000000;
  box-shadow: 13px 21px 50px #000000;
  border-color: rgba(26, 187, 99, 1);
  border-radius: 20px;
  color: white;
}

.error-field {
  padding-left: 10px;
  color: red;
}

footer {
  margin-left: 15%;
  position: fixed;
  font-size: 0.7em;
  bottom: 0;
  right: 0;
  background-color: #fff9c4;
  border-radius: 50%;
  text-align: center;
  height: 17px;
  width: 135px;
  color: white;
  background:-webkit-gradient(linear, 13% 56%, 0% 12%, from(#000000), to(#FFFFFF));
}

.background-show-page {
  background-color: rgba(23, 21, 22, 0.6);
  -moz-box-shadow: 13px 21px 50px #000000;
  -webkit-box-shadow: 13px 21px 50px #000000;
  box-shadow: 13px 21px 50px #000000;
  border-color: rgba(26, 187, 99, 1);
  border-radius: 20px;
  width: 110%;
}

.profile-image {
  display: inline-block;
  margin-left: -20%;
  border-radius: 50%;
  border: solid;
  border-color: #81d4fa;
  -moz-box-shadow: 10px 14px 29px #121214;
  -webkit-box-shadow: 10px 14px 29px #121214;
  box-shadow: 10px 14px 29px #121214;
  height: 257px;
  width: 287px;
}

.name {
  margin-left: 12%;
}

.show-label {
  color: #81d4fa;
  display: inline-block;
  padding-right: 10px;
}

.task-icons {
  text-align: center;
  color: grey;
}

.timer {
  font-size: 65px;
  color: black;
}

.task-timer {
  display: none;
}

#time {
  font-size: 65px;
}

/*nav must use inline style in _nav.html.erb & taks/index.html.erb to overide matericalize.css */
nav {
  -moz-box-shadow: 0px 0px 0px #000000;
  -webkit-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
}

/*override materialize icons display in navbar display inline */
#dropdown-icon {
  display: inline-block !important;
  margin:0 !important;
  top: -11%;
}

#search-button {
  margin-top: 1%;
  text-align: center;
}

.card-attr {
  text-align: left;
  color: black;
}

.card-attr span {
  font-weight: bold;
}

.input-field {
  padding: 5px;
}

.card-content {
  color: black;
}

button {
  padding: 20px;
}

/*CSS for landing page*/
.landing-wrap {
  min-height:100%;
  height:100%;
}

.right-landing {
  /*background-color: rgba(52, 161, 44, 0.6);*/
  height: 100%;
  min-height:100%;
  display: inline-block;
  position: relative;
}

.left-landing {
  /*background-color: rgba(52, 95, 241, 0.6);*/
  height: 100%;
  min-height:100%;
  display: inline-block;
  position: relative;
}

.right-inner-content {
  top: 50%;
  left: 50%;
  height: 60%;
  width: 80%;
  margin: -15% 0 0 -40%;
  /*background-color: rgba(52, 95, 241, 0.8);*/
  text-align: center;
  position: absolute;
  /*border:solid 5px rgba(40, 163, 88, 0.9);*/
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:4px;
  -moz-border-radius-bottomright:49px;
  -webkit-border-top-left-radius:50px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-left-radius:4px;
  -webkit-border-bottom-right-radius:49px;
  border-top-left-radius:50px;
  border-top-right-radius:5px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:49px;
}

.left-inner-content {
  top: 50%;
  left: 50%;
  height: 60%;
  width: 80%;
  margin: -15% 0 0 -40%;
  /*background-color: rgba(52, 161, 44, 0.8);*/
  text-align: center;
  position: absolute;
  /*border:solid 5px rgba(40, 83, 162, 0.9);*/
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:4px;
  -moz-border-radius-bottomright:49px;
  -webkit-border-top-left-radius:50px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-left-radius:4px;
  -webkit-border-bottom-right-radius:49px;
  border-top-left-radius:50px;
  border-top-right-radius:5px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:49px;
}

.landing-title {
  padding-top: 45px;
  text-align: center;
  -webkit-filter: blur(.5px);     
  filter: blur(.5px);  
}

#needed-landing {
  position: absolute;
  top: 84%;
  left: 39%;
}

#needit-landing {
  position: absolute;
  top: 84%;
  left: 39%;
}

.logo-big-wrap {
  position: fixed;
  top: 22%;
  left: 40.3%;
}

#needy-logo-landing {
  height: 40%;
  position: fixed;
  top: 20%;
  left: 40%;
  padding-left: 1.5%;
  border-radius: 10%;
  border:outset 5px none;
  -moz-box-shadow: 0px 8px 16px #000000;
  -webkit-box-shadow: 0px 8px 16px #000000;
  box-shadow: 0px 8px 16px #000000;
  background: -webkit-gradient(linear, 34% 38%, 1% -5%, from(rgba(48, 82, 115, 0.8)), to(#FFFFF1));
}

#tiny-logo {
  margin-top: 6%;
  margin-left: 19%;
  height: 10%;
  position: fixed;
  filter: blur(100px);
}

#stick1 {
  margin-top: 9.3%;
  margin-left: 71%;
  height: 10%;
  position: fixed;
  color:white;
  font-size: 12px;
}

#stick2 {
  margin-top: 9.3%;
  margin-left: 73%;
  height: 10%;
  position: fixed;
  color:white;
  font-size: 12px;
}

#stick3 {
  margin-top: 9.3%;
  margin-left: 75.2%;
  height: 10%;
  position: fixed;
  color:white;
  font-size: 12px;
}

#need-it-button {
  background-color: rgba(52, 161, 44, 1);
  width: 150px;
  height:100px;
  position: absolute;
  top: 35%;
  left:35%;
  transform: translateY(-50%);
  cursor: pointer;
  border:outset 2px rgba(52, 161, 44, 0.8);
  -moz-border-radius-topleft: 49px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:4px;
  -moz-border-radius-bottomright:51px;
  -webkit-border-top-left-radius:49px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-left-radius:4px;
  -webkit-border-bottom-right-radius:51px;
  border-top-left-radius:49px;
  border-top-right-radius:5px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:51px;
  -moz-box-shadow: 2px 8px 16px #000000;
  -webkit-box-shadow: 2px 8px 16px #000000;
  box-shadow: 2px 8px 16px #000000;
}

#needed-button {
  background-color: rgba(48, 110, 152, 1);
  width: 150px;
  height:100px;
  position: absolute;
  top: 35%;
  left:35%;
  transform: translateY(-50%);
  cursor: pointer;
  border:outset 2px;
  border-top-color:rgba(52, 107, 241, 0.6);
  border-bottom-color: rgba(52, 307, 241, 0.6);
  border-left-color: rgba(52, 167, 241, 0.6);
  border-right-color: rgba(52, 176, 387, 0.6);
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright:49px;
  -moz-border-radius-bottomleft:51px;
  -moz-border-radius-bottomright:4px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:49px;
  -webkit-border-bottom-left-radius:51px;
  -webkit-border-bottom-right-radius:4px;
  border-top-left-radius:5px;
  border-top-right-radius:49px;
  border-bottom-left-radius:51px;
  border-bottom-right-radius:4px;
  -moz-box-shadow: -2px 8px 16px #000000;
  -webkit-box-shadow: -2px 8px 16px #000000;
  box-shadow: -2px 8px 16px #000000;
}

#text-wrap2 {
  cursor: pointer;
  height: 90%;
  width:90%;
  position: absolute;
  top:5%;
  left:5%;
  background-color: rgba(52, 161, 44, 0.8);
  border:inset 2px;
  border-top-color: rgba(63, 224, 300, 0.7);
  border-bottom-color: rgba(16, 80, 158, 0.7);
  border-right-color:rgba(29, 146, 264, 0.7);
  border-left-color: rgba(46, 88, 274, 0.6);
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright:49px;
  -moz-border-radius-bottomleft:51px;
  -moz-border-radius-bottomright:4px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:49px;
  -webkit-border-bottom-left-radius:51px;
  -webkit-border-bottom-right-radius:4px;
  border-top-left-radius:5px;
  border-top-right-radius:49px;
  border-bottom-left-radius:51px;
  border-bottom-right-radius:4px;
}

#text-wrap {
  cursor:pointer;
  height: 90%;
  width:90%;
  position: absolute;
  top:5%;
  left:5%;
  background-color: rgba(52, 95, 241, 0.6);
  border:inset 2px rgba(95, 185, 67, 0.8);
  -moz-border-radius-topleft: 49px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:4px;
  -moz-border-radius-bottomright:51px;
  -webkit-border-top-left-radius:49px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-left-radius:4px;
  -webkit-border-bottom-right-radius:51px;
  border-top-left-radius:49px;
  border-top-right-radius:5px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:51px;
}

.button-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  width: 100%;

}



.show-info {
  margin: 35%;
  cursor: pointer;
}


/*CSS Override Materialize form colors*/
.input-field label {
  color: #81d4fa !important;
}

.input-field input[type=text] + label {
  color: #81d4fa !important;
}

.input-field input[type=text]:focus + label {
  color: #81d4fa !important;
}

.input-field input[type=textarea]:focus + label {
  color: #81d4fa !important;
}

.input-field input[type=radio]:focus + label {
  color: #81d4fa !important;
}

.input-field input[type=radio] + label {
  color: #81d4fa !important;
}

.input-field input[type=text]:focus {
   border-bottom: 1px solid #81d4fa !important;
   box-shadow: 0 1px 0 0 #000;
 }

 .input-field input[type=search]:focus {
  color: #81d4fa !important;
  background-color: rgba(23, 21, 22, 0.4) !important;
 }

 #newest_first {
  display: inline;
 }

 #oldest_first {
  display: inline;
 }

.description {
  /*color: rgba(18, 231, 48, 1);*/
  color:white;
}

#task-index {
  margin-left: 25%;
}

.material-icons large {
  color: blue;
}

#users-index {
  margin-left: 25%;
}

.nav-change-color {
  background-color: rgba(23, 103, 196, 1) !important;
}

.review-title {
  color: white;
  padding-left: 10px;
}

#user-tasks {
  margin-left: 10%;
  width: 100%;
}

#edit-profile {
  padding: 30px;
}

.form-image {
  height: 200px;
  width: 300px;
  border:solid 2px #000000;
  -moz-border-radius-topleft: 37px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:38px;
  -webkit-border-top-left-radius:37px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:38px;
  border-top-left-radius:37px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:38px;
  position: fixed;
  top: 30px;
  border-color: #81d4fa;
}

.modal {
  background-color: black !important;
  border-radius: 5% !important;
}

.container {
  padding-bottom: 25px;
  padding-top: 25px;
}



