<!DOCTYPE html>
<html>
<head>
  <title>Needy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery.min.js"></script>

</head>
<body>
  <ul id="nav-mobile" class="side-nav fixed" style="width: 10%;">
    <li class="logo">
      <a id="logo-container" href="#" class="brand-logo">LOGO</a>
    </li>
    <li class="search">
      <div class="search-wrapper card">
        <input id="search">
        <div class="search-results"></div>
      </div>
    </li>
    <li class="bold">
      <a href="#" class="waves-effect">Profile</a>
    </li>
    <li class="bold">
      <a href="#" class="waves-effect">All Needs</a>
    </li>
    <li class="bold">
      <a href="#" class="waves-effects">Post Your Need!</a>
    </li>
    <li class="bold">
      <a href="#" class="waves-effect">Search By</a>
    </li>
  </ul>

<%= yield %>


<script>
$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 100 // Creates a dropdown of 15 years to control year
  });
</script>
</body>
</html>
